.userCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #525050;
    border-radius: 5px;
    padding: 8px;
    width: 300px;
}

.cardItem {
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.fadeOut {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
}
